<header>
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
<img src="https://ih1.redbubble.net/image.2766400769.9172/raf,750x1000,075,t,FFFFFF:97ab1c12de.jpg" alt="Elche" width="10%" height="10%">
        <span class="fs-4">Mucho Elche!</span>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Inicio</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Productos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Carrito</a>
      </nav>
    </div>

  </div>
</header>
